.category .button, .user .button, .thread .button {
    opacity: 0;
}
.category:hover .button, .user:hover .button, .thread:hover .button {
    opacity: 1;
}

.approveButton {
    background-color: '#eee'
}