.fixed {
    background: #f0f2ff;
    border: 1px solid rgba(154, 162, 206, 0.4);
    margin-top: 15px;
    padding: 0 0 25px 25px;
}

.posts {
    padding-top: 25px;
}

.border {
    border-bottom: 1px solid #ced2eb;
    margin-right: 25px;
    margin-bottom: 15px;
}